<h1>{{title}}</h1>

<div class="MindMap">
    <div>
        <div class="MindMap__Tool">
            <div class="MindMap__ToolItem" draggable="true">
                Node
            </div>
        </div>
        <div class="MindMap__Paper"></div>
    </div>
    <div>
        <h2>Node Editor</h2>
        <div class="MindMap__NodeEditor">

        </div>
    </div>
</div>
