<h1>Detail of MindMap</h1>

<ul class="Breadcrumb">
    <li class="Breadcrumb__Item"><a class="Link" href="/#">TOP</a></li>
    <li class="Breadcrumb__Item">{{title}}
        <small>({{id}})</small>
    </li>
</ul>

<div class="MindMap">
    <div class="MindMap__LeftPanel">
        <div class="MindMap__Tool">
            <div class="MindMap__ToolItem" draggable="true">
                Node
            </div>
        </div>
        <div class="MindMap__Paper"></div>
    </div>
    <div class="MindMap__RightPanel">
        <h2>Node Editor</h2>
        <div class="MindMap__NodeEditor">

        </div>
    </div>
</div>
