<h1>MindMaps</h1>


<form id="MindMapForm">
    <input name="title" type='text' placeholder="Enter the title" required/>
    <input type="submit" value="Create"/>
</form>

<table class="MindMapTable Table">
    <!-- inserted from script -->
</table>
