<td>
    <a class="MindMapTable__OpenLink Link">{{title}} (Backbone)</a>
</td>

<td>
    <a class="MindMapTable__OpenLinkVue Link">{{title}} (Backbone + Vue)</a>
</td>
<td>
    <button class="MindMapTable__DeleteBtn" data-id="{{id}}">Delete</button>
</td>
