<form class="NodeEditor__Form Form">
    <div class="FormGroup">
        <label class="FormLabel">ID</label>
        <small>{{id}}</small>
    </div>

    <div class="FormGroup">
        <label class="FormLabel">Title</label>
        <input name="title" class="NodeEditor__Title" type="text" value="{{title}}"/>
    </div>

    <div class="FormGroup">
        <label class="FormLabel">Color</label>
        <input name="color" class="NodeEditor__ColorPicker" type="color"/>
    </div>

    <!--<input class="NodeEditor__SaveBtn" type="submit" value="Save">-->
</form>

<button class="NodeEditor__DeleteBtn">Delete</button>
