<p>{{id}}</p>

<form class="NodeEditor__Form">
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" value="{{title}}"/>
    </div>

    <div class="form-group">
        <label>Color</label>
        <input name="color" type="text" value="{{color}}"/>
    </div>

    <input class="NodeEditor__SaveBtn" type="submit" value="Save">
</form>

<button class="NodeEditor__DeleteBtn">Delete</button>
